{"openapi":"3.1.0","info":{"title":"GitHub Analyzer API","description":"### GitHub Login URL\nGitHub 로그인을 위해 아래 URL을 브라우저에 입력하세요:\n[https://api.sprintgit.com/oauth2/authorization/github](https://api.sprintgit.com/oauth2/authorization/github)\n\n로그인 성공 후 화면에 표시되는 `accessToken`을 복사하여 상단의 'Authorize' 버튼에 입력해 주세요.","version":"v1.0.0"},"servers":[{"url":"https://api.sprintgit.com","description":"Configured Server"},{"url":"/","description":"Current Host"}],"security":[{"bearerAuth":[]}],"tags":[{"name":"Authentication Test","description":"OAuth2 로그인 성공 시 토큰 확인용 API"},{"name":"Team","description":"팀 생성, 관리 및 멤버십 API"},{"name":"GitHub Installation","description":"GitHub App 설치 관련 엔드포인트"},{"name":"User & Dashboard","description":"유저 프로필 및 개인 대시보드 API"},{"name":"Notification","description":"실시간 알림 API (SSE)"},{"name":"Repository","description":"GitHub 레포지토리 관리 및 조회 API"},{"name":"Commit Analysis","description":"커밋 조회 및 AI 분석 결과 확인 API"},{"name":"Search","description":"통합 검색 API"},{"name":"Ranking","description":"랭킹/통계 관련 API. 커밋 및 유저 랭킹 조회"},{"name":"Authentication","description":"OAuth2 및 JWT 토큰 관리 API. (로그인: /oauth2/authorization/github)"},{"name":"Sprint","description":"스프린트 및 챌린지 관리 API"}],"paths":{"/api/users/me":{"get":{"tags":["User & Dashboard"],"summary":"Get My Profile (내 정보 조회)","description":"로그인한 유저의 상세 정보를 조회합니다.","operationId":"me","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"put":{"tags":["User & Dashboard"],"summary":"Update My Profile (내 정보 수정)","description":"로그인한 유저의 프로필 정보를 수정합니다.","operationId":"updateMe","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UserUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserResponse"}}}}}},"delete":{"tags":["User & Dashboard"],"summary":"Withdraw (회원 탈퇴)","description":"회원 탈퇴를 진행합니다.","operationId":"withdraw","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/teams/{teamId}":{"get":{"tags":["Team"],"summary":"Get Team Details (팀 상세 조회)","description":"팀의 상세 정보를 조회합니다. 비공개 팀의 경우 멤버만 조회 가능할 수 있습니다.","operationId":"getTeamDetails","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseTeamDetailResponse"}}}}}},"put":{"tags":["Team"],"summary":"Update Team (팀 정보 수정)","description":"팀 이름, 설명, 공개 여부 등을 수정합니다. (Leader Only)","operationId":"updateTeam","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamUpdateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/sprints/{sprintId}":{"put":{"tags":["Sprint"],"summary":"Update Sprint (스프린트 수정)","description":"스프린트 정보를 수정합니다. 매니저만 가능합니다.","operationId":"updateSprint","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/notifications/{id}/read":{"put":{"tags":["Notification"],"summary":"Mark as Read (읽음 처리)","description":"특정 알림을 읽음 상태로 변경합니다.","operationId":"markAsRead","parameters":[{"name":"id","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK"}}}},"/api/webhooks/github":{"post":{"tags":["github-webhook-controller"],"operationId":"handleWebhook","parameters":[{"name":"X-GitHub-Event","in":"header","required":true,"schema":{"type":"string"}},{"name":"X-Hub-Signature-256","in":"header","required":false,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"string"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"string"}}}}}}},"/api/teams":{"post":{"tags":["Team"],"summary":"Create Team (팀 생성)","description":"새로운 팀을 생성하고 생성자를 Leader로 지정합니다.","operationId":"createTeam","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TeamCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/teams/{teamId}/join":{"post":{"tags":["Team"],"summary":"Join Team (팀 가입 신청)","description":"팀에 가입을 신청합니다. 비공개 팀의 경우 가입 코드가 필요할 수 있습니다.","operationId":"joinTeam","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}},{"name":"code","in":"query","description":"비공개 팀 가입 코드","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/teams/{teamId}/approve":{"post":{"tags":["Team"],"summary":"Approve Member (멤버 가입 승인)","description":"가입 신청한 멤버를 승인합니다. (Leader Only)","operationId":"approveMember","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"query","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/sprints":{"get":{"tags":["Sprint"],"summary":"List Public Sprints (공개 스프린트 조회)","description":"현재 참여 가능한 공개 스프린트 목록을 조회합니다.","operationId":"getSprints","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSprintResponse"}}}}}},"post":{"tags":["Sprint"],"summary":"Create Sprint (스프린트 생성)","description":"새로운 스프린트를 생성합니다.","operationId":"createSprint","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintCreateRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseString"}}}}}}},"/api/sprints/{sprintId}/registrations/{teamId}/ban":{"post":{"tags":["Sprint"],"summary":"Ban Team (팀 강퇴)","description":"특정 팀을 스프린트에서 강퇴시킵니다. (매니저 기능)","operationId":"banTeam","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/sprints/{sprintId}/registrations/{teamId}/approve":{"post":{"tags":["Sprint"],"summary":"Approve/Reject Team (참가 승인/거절)","description":"참가 신청한 팀을 승인하거나 거절합니다. (비공개 스프린트 매니저 기능)","operationId":"approveTeam","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}},{"name":"approve","in":"query","description":"true: 승인, false: 거절","required":true,"schema":{"type":"boolean"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/sprints/{sprintId}/registration":{"post":{"tags":["Sprint"],"summary":"Register Team (스프린트 참가 신청)","description":"팀 단위로 스프린트에 참가를 신청합니다. 팀장만 가능합니다.","operationId":"registerTeamToSprint","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SprintRegisterRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/repos/{repoId}/sync":{"post":{"tags":["Repository"],"summary":"Sync Repository (동기화 요청)","description":"레포지토리의 최신 데이터를 GitHub에서 받아오도록 비동기 동기화 작업을 요청합니다.","operationId":"sync","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/auth/refresh":{"post":{"tags":["Authentication"],"summary":"Refresh Token (토큰 갱신)","description":"만료된 Access Token을 Refresh Token을 통해 갱신합니다.","operationId":"refresh","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/TokenRefreshRequest"}}},"required":true},"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseJwtToken"}}}}}}},"/api/auth/logout":{"post":{"tags":["Authentication"],"summary":"Logout (로그아웃)","description":"서버에서 Refresh Token을 삭제하여 로그아웃 처리합니다.","operationId":"logout","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}},"/api/users/{username}/profile":{"get":{"tags":["User & Dashboard"],"summary":"User Profile (유저 공개 프로필 조회)","description":"특정 유저의 공개 프로필 정보(뱃지, 티어, 기본 정보)를 조회합니다.","operationId":"getUserProfile","parameters":[{"name":"username","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUserProfileResponse"}}}}}}},"/api/users/{userId}/repositories/{repoId}/commits":{"get":{"tags":["User & Dashboard"],"summary":"User Repo Commits (특정 유저/레포 커밋 조회)","description":"특정 유저와 레포지토리의 커밋 목록을 조회합니다.","operationId":"userRepoCommits","parameters":[{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitResponse"}}}}}}},"/api/users/me/repositories":{"get":{"tags":["User & Dashboard"],"summary":"My Repositories (내 레포지토리 목록)","description":"로그인한 유저의 연동된 레포지토리 목록을 조회합니다.","operationId":"repositories","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListGithubRepositoryResponse"}}}}}}},"/api/users/me/dashboard":{"get":{"tags":["User & Dashboard"],"summary":"My Dashboard (내 대시보드 조회)","description":"로그인한 사용자의 개인 통계(Streak, 총 커밋 수, 최근 활동 등)를 조회합니다.","operationId":"getMyDashboard","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseDashboardStatsResponse"}}}}}}},"/api/users/me/commits/recent":{"get":{"tags":["User & Dashboard"],"summary":"My Recent Commits (내 최근 커밋)","description":"로그인한 유저의 최근 커밋 내역을 조회합니다.","operationId":"recentCommits","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitResponse"}}}}}}},"/api/users/me/activities/heatmap":{"get":{"tags":["User & Dashboard"],"summary":"My Heatmap (내 커밋 히트맵)","description":"로그인한 유저의 커밋 히트맵 데이터를 조회합니다.","operationId":"heatmap","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitHeatmapResponse"}}}}}}},"/api/teams/{teamId}/members":{"get":{"tags":["Team"],"summary":"Get Team Members (팀 멤버 조회)","description":"팀에 소속된 멤버 목록을 조회합니다.","operationId":"getTeamMembers","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListTeamMemberResponse"}}}}}}},"/api/sprints/{sprintId}/ranking":{"get":{"tags":["Sprint"],"summary":"Get Sprint Rankings (스프린트 랭킹)","description":"특정 스프린트의 팀 또는 개인 랭킹을 조회합니다.","operationId":"getSprintRankings","parameters":[{"name":"sprintId","in":"path","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","description":"랭킹 타입 (TEAM, INDIVIDUAL). Default: TEAM","required":false,"schema":{"type":"string","default":"TEAM"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListObject"}}}}}}},"/api/sprints/my":{"get":{"tags":["Sprint"],"summary":"List My Sprints (내 스프린트 조회)","description":"내가 참여 중이거나 생성한 스프린트 목록을 조회합니다.","operationId":"getMySprints","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListSprintResponse"}}}}}}},"/api/search":{"get":{"tags":["Search"],"summary":"Integrated Search (통합 검색)","description":"사용자, 레포지토리, 팀 등을 한번에 검색합니다.<br>**Type**: `ALL` (전체), `USER` (유저), `REPOSITORY` (레포), `TEAM` (팀)","operationId":"search","parameters":[{"name":"q","in":"query","required":true,"schema":{"type":"string"}},{"name":"type","in":"query","required":false,"schema":{"type":"string","default":"ALL"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseUnifiedSearchResponse"}}}}}}},"/api/repos/{repoId}":{"get":{"tags":["Repository"],"summary":"Get Repository Details (레포지토리 상세 조회)","description":"레포지토리의 기본 정보, 언어 통계, 설명 등을 조회합니다.","operationId":"getRepository","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseGithubRepositoryResponse"}}}}}}},"/api/repos/{repoId}/metrics":{"get":{"tags":["Repository"],"summary":"Get Repository Metrics (레포지토리 통계)","description":"커밋 수, 이슈 수, 스타 수 등 레포지토리의 주요 지표를 조회합니다.","operationId":"getMetrics","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseRepositoryMetricResponse"}}}}}}},"/api/repos/{repoId}/contributors":{"get":{"tags":["Repository"],"summary":"Get Contributors (기여자 목록 조회)","description":"해당 레포지토리의 기여자 목록을 커밋 수/점수 기준으로 정렬하여 반환합니다.","operationId":"getContributors","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListContributorResponse"}}}}}}},"/api/repos/{repoId}/commits":{"get":{"tags":["Commit Analysis"],"summary":"Get Commits (커밋 목록 조회)","description":"레포지토리의 최근 커밋 목록을 조회합니다.","operationId":"getCommits","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitResponse"}}}}}}},"/api/repos/{repoId}/commits/{sha}/status":{"get":{"tags":["Commit Analysis"],"summary":"Get Analysis Status (분석 진행 상태 조회)","description":"커밋 분석의 진행 상태(PENDING, IN_PROGRESS, COMPLETED, FAILED)를 조회합니다.","operationId":"getStatus","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sha","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseAnalysisStatus"}}}}}}},"/api/repos/{repoId}/commits/{sha}/analysis":{"get":{"tags":["Commit Analysis"],"summary":"Get Analysis Result (AI 분석 결과 조회)","description":"특정 커밋의 AI 분석 상세 결과(코드 설명, 점수, 피드백 등)를 조회합니다.","operationId":"getAnalysis","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}},{"name":"sha","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseCommitAnalysisResponse"}}}}}}},"/api/repos/{repoId}/commits/activities":{"get":{"tags":["Commit Analysis"],"summary":"Get Commits (Alias)","description":"getCommits와 동일합니다.","operationId":"getActivities","parameters":[{"name":"repoId","in":"path","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitResponse"}}}}}}},"/api/rankings/users":{"get":{"tags":["Ranking"],"summary":"Get Top Users (유저 랭킹 조회)","description":"지정된 조건(Scope, Period)에 따라 점수가 가장 높은 유저 목록을 반환합니다.<br>**Scope**: `GLOBAL` (전체), `SPRINT` (스프린트 참여자), `TEAM` (팀 멤버)<br>**Period**: `ALL` (전체), `MONTH` (이번 달), `SPRINT` (스프린트 기간) 등","operationId":"getUserRankings","parameters":[{"name":"scope","in":"query","description":"랭킹 범위 (GLOBAL, SPRINT, TEAM)","required":false,"schema":{"type":"string","default":"GLOBAL"},"example":"GLOBAL"},{"name":"id","in":"query","description":"범위 지정 ID (SprintId, TeamId). scope가 GLOBAL이면 무시됨.","required":false,"schema":{"type":"string"},"example":10},{"name":"period","in":"query","description":"집계 기간 (ALL, YEAR, MONTH, WEEK, DAY, HOUR, SPRINT). Default: ALL","required":false,"schema":{"type":"string","default":"ALL","enum":["ALL","YEAR","MONTH","WEEK","DAY","HOUR","SPRINT"]},"example":"ALL"},{"name":"limit","in":"query","description":"반환 개수 제한","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListUserRankResponse"}}}}}}},"/api/rankings/commits":{"get":{"tags":["Ranking"],"summary":"Get Top Commits (커밋 랭킹 조회)","description":"지정된 조건(Scope, Period)에 따라 점수가 가장 높은 커밋 목록을 반환합니다.<br>**Scope**: `GLOBAL` (전체), `SPRINT` (스프린트 안), `USER` (개인별), `TEAM` (팀 멤버별)<br>**Period**: `WEEK` (이번 주), `MONTH` (이번 달), `SPRINT` (스프린트 기간), `ALL` (전체) 등","operationId":"getCommitRankings","parameters":[{"name":"scope","in":"query","description":"랭킹 범위 (GLOBAL, SPRINT, TEAM, USER)","required":false,"schema":{"type":"string","default":"GLOBAL"},"example":"GLOBAL"},{"name":"id","in":"query","description":"범위 지정 ID (SprintId, UserId, TeamId 등). scope가 GLOBAL이면 무시됨.","required":false,"schema":{"type":"string"},"example":10},{"name":"period","in":"query","description":"집계 기간 (ALL, YEAR, MONTH, WEEK, DAY, HOUR, SPRINT). Default: WEEK","required":false,"schema":{"type":"string","default":"WEEK","enum":["ALL","YEAR","MONTH","WEEK","DAY","HOUR","SPRINT"]},"example":"WEEK"},{"name":"limit","in":"query","description":"반환 개수 제한","required":false,"schema":{"type":"integer","format":"int32","default":10},"example":10}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseListCommitRankResponse"}}}}}}},"/api/notifications":{"get":{"tags":["Notification"],"summary":"Get Notifications (알림 목록 조회)","description":"과거 알림 내역을 최신순으로 조회합니다.","operationId":"getNotifications","responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"array","items":{"$ref":"#/components/schemas/NotificationResponse"}}}}}}}},"/api/notifications/stream":{"get":{"tags":["Notification"],"summary":"Subscribe SSE (알림 스트림 연결)","description":"실시간 알림을 수신하기 위해 SSE 스트림에 연결합니다.<br>**Usage**: EventSource 또는 HTTP 클라이언트를 사용하여 연결.<br>**Authentication**: Authorization Header (Bearer Token) 필수.","operationId":"subscribe","responses":{"200":{"description":"OK","content":{"text/event-stream":{"schema":{"$ref":"#/components/schemas/SseEmitter"}}}}}}},"/api/auth/test/success":{"get":{"tags":["Authentication Test"],"summary":"로그인 성공 콜백","description":"GitHub 로그인 성공 후 토큰을 화면에 표시합니다.","operationId":"testSuccess","parameters":[{"name":"accessToken","in":"query","required":true,"schema":{"type":"string"}},{"name":"refreshToken","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"type":"object","additionalProperties":{"type":"string"}}}}}}}},"/api/auth/github/installation":{"get":{"tags":["GitHub Installation"],"summary":"GitHub App 설치 리다이렉트 핸들러","description":"GitHub App 설치 후 GitHub에서 리다이렉트되는 목적지입니다.","operationId":"handleInstallationRedirect","parameters":[{"name":"installation_id","in":"query","required":true,"schema":{"type":"string"}},{"name":"setup_action","in":"query","required":true,"schema":{"type":"string"}}],"responses":{"200":{"description":"OK"}}}},"/api/teams/{teamId}/members/{userId}":{"delete":{"tags":["Team"],"summary":"Remove Member (멤버 추방)","description":"팀 멤버를 추방합니다. (Leader Only)","operationId":"removeMember","parameters":[{"name":"teamId","in":"path","required":true,"schema":{"type":"string"}},{"name":"userId","in":"path","required":true,"schema":{"type":"integer","format":"int64"}}],"responses":{"200":{"description":"OK","content":{"*/*":{"schema":{"$ref":"#/components/schemas/ApiResponseVoid"}}}}}}}},"components":{"schemas":{"UserUpdateRequest":{"type":"object","properties":{"company":{"type":"string"},"location":{"type":"string"},"notifyEmail":{"type":"string"},"notifySprint":{"type":"boolean"},"notifyWeekly":{"type":"boolean"}}},"ApiResponseUserResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserResponse"},"timestamp":{"type":"string","format":"date-time"}}},"UserResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"email":{"type":"string"},"notifyEmail":{"type":"string"},"notifySprint":{"type":"boolean"},"notifyWeekly":{"type":"boolean"},"profileUrl":{"type":"string"},"location":{"type":"string"},"publicRepos":{"type":"integer","format":"int32"},"company":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"TeamUpdateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"}}},"ApiResponseVoid":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{},"timestamp":{"type":"string","format":"date-time"}}},"SprintCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"description":{"type":"string"},"isPrivate":{"type":"boolean"},"isOpen":{"type":"boolean"},"managerId":{"type":"integer","format":"int64"}}},"TeamCreateRequest":{"type":"object","properties":{"name":{"type":"string"},"description":{"type":"string"},"leaderId":{"type":"integer","format":"int64"}}},"ApiResponseString":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"string"},"timestamp":{"type":"string","format":"date-time"}}},"SprintRegisterRequest":{"type":"object","properties":{"teamId":{"type":"string"},"repoId":{"type":"string"}}},"TokenRefreshRequest":{"type":"object","properties":{"refreshToken":{"type":"string"}}},"ApiResponseJwtToken":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/JwtToken"},"timestamp":{"type":"string","format":"date-time"}}},"JwtToken":{"type":"object","properties":{"grantType":{"type":"string"},"accessToken":{"type":"string"},"refreshToken":{"type":"string"}}},"ApiResponseUserProfileResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UserProfileResponse"},"timestamp":{"type":"string","format":"date-time"}}},"SprintResponse":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"startDate":{"type":"string","format":"date-time"},"endDate":{"type":"string","format":"date-time"},"description":{"type":"string"},"managerName":{"type":"string"},"isPrivate":{"type":"boolean"},"isOpen":{"type":"boolean"},"teamsCount":{"type":"integer","format":"int64"},"participantsCount":{"type":"integer","format":"int64"},"status":{"type":"string"}}},"UserProfileResponse":{"type":"object","properties":{"username":{"type":"string"},"profileUrl":{"type":"string"},"totalScore":{"type":"integer","format":"int64"},"totalCommits":{"type":"integer","format":"int64"},"participatingSprints":{"type":"array","items":{"$ref":"#/components/schemas/SprintResponse"}}}},"ApiResponseListCommitResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CommitResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"CommitResponse":{"type":"object","properties":{"sha":{"type":"string"},"message":{"type":"string"},"committedAt":{"type":"string","format":"date-time"},"authorName":{"type":"string"},"authorProfileUrl":{"type":"string"},"analysisStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"totalScore":{"type":"integer","format":"int64"}}},"ApiResponseListGithubRepositoryResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/GithubRepositoryResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"GithubRepositoryResponse":{"type":"object","properties":{"id":{"type":"string"},"reponame":{"type":"string"},"repoUrl":{"type":"string"},"description":{"type":"string"},"language":{"type":"string"},"size":{"type":"integer","format":"int64"},"stars":{"type":"integer","format":"int64"},"topics":{"type":"array","items":{"type":"string"}},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"pushedAt":{"type":"string","format":"date-time"},"lastSyncAt":{"type":"string","format":"date-time"},"languages":{"type":"object","additionalProperties":{"type":"integer","format":"int64"}}}},"ApiResponseDashboardStatsResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/DashboardStatsResponse"},"timestamp":{"type":"string","format":"date-time"}}},"DashboardStatsResponse":{"type":"object","properties":{"username":{"type":"string"},"totalScore":{"type":"integer","format":"int64"},"totalCommits":{"type":"integer","format":"int64"},"currentStreak":{"type":"integer","format":"int32"},"activeSprints":{"type":"array","items":{"$ref":"#/components/schemas/SprintResponse"}}}},"ApiResponseListCommitHeatmapResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CommitHeatmapResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"CommitHeatmapResponse":{"type":"object","properties":{"date":{"type":"string"},"count":{"type":"integer","format":"int64"}}},"ApiResponseTeamDetailResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/TeamDetailResponse"},"timestamp":{"type":"string","format":"date-time"}}},"TeamDetailResponse":{"type":"object","properties":{"teamId":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"},"leaderUsername":{"type":"string"},"leaderProfileUrl":{"type":"string"},"isPublic":{"type":"boolean"},"joinCode":{"type":"string"}}},"ApiResponseListTeamMemberResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/TeamMemberResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"TeamMemberResponse":{"type":"object","properties":{"userId":{"type":"integer","format":"int64"},"username":{"type":"string"},"role":{"type":"string"},"status":{"type":"string"},"inTeamRank":{"type":"integer","format":"int64"},"commitCount":{"type":"integer","format":"int64"},"contributionScore":{"type":"integer","format":"int64"}}},"ApiResponseListSprintResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/SprintResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseListObject":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{}},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseUnifiedSearchResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/UnifiedSearchResponse"},"timestamp":{"type":"string","format":"date-time"}}},"CommitSearchResult":{"type":"object","properties":{"sha":{"type":"string"},"message":{"type":"string"},"repoId":{"type":"string"},"repoName":{"type":"string"},"authorName":{"type":"string"},"committedAt":{"type":"string","format":"date-time"}}},"RepoSearchResult":{"type":"object","properties":{"id":{"type":"string"},"reponame":{"type":"string"},"description":{"type":"string"}}},"SprintSearchResult":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"TeamSearchResult":{"type":"object","properties":{"id":{"type":"string"},"name":{"type":"string"},"description":{"type":"string"}}},"UnifiedSearchResponse":{"type":"object","properties":{"users":{"type":"array","items":{"$ref":"#/components/schemas/UserSearchResult"}},"repositories":{"type":"array","items":{"$ref":"#/components/schemas/RepoSearchResult"}},"teams":{"type":"array","items":{"$ref":"#/components/schemas/TeamSearchResult"}},"sprints":{"type":"array","items":{"$ref":"#/components/schemas/SprintSearchResult"}},"commits":{"type":"array","items":{"$ref":"#/components/schemas/CommitSearchResult"}}}},"UserSearchResult":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"profileUrl":{"type":"string"}}},"ApiResponseGithubRepositoryResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/GithubRepositoryResponse"},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseRepositoryMetricResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/RepositoryMetricResponse"},"timestamp":{"type":"string","format":"date-time"}}},"RepositoryMetricResponse":{"type":"object","properties":{"commitCount":{"type":"integer","format":"int64"},"averageScore":{"type":"integer","format":"int64"}}},"ApiResponseListContributorResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/ContributorResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"ContributorResponse":{"type":"object","properties":{"username":{"type":"string"},"profileUrl":{"type":"string"},"role":{"type":"string"},"rank":{"type":"integer","format":"int64"},"score":{"type":"integer","format":"int64"}}},"ApiResponseAnalysisStatus":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"timestamp":{"type":"string","format":"date-time"}}},"ApiResponseCommitAnalysisResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/CommitAnalysisResponse"},"timestamp":{"type":"string","format":"date-time"}}},"CommitAnalysisResponse":{"type":"object","properties":{"sha":{"type":"string"},"message":{"type":"string"},"committedAt":{"type":"string","format":"date-time"},"authorName":{"type":"string"},"analysisStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"totalScore":{"type":"integer","format":"int64"},"commitMessageQuality":{"type":"integer","format":"int64"},"codeQuality":{"type":"integer","format":"int64"},"changeAppropriateness":{"type":"integer","format":"int64"},"necessity":{"type":"integer","format":"int64"},"correctnessAndRisk":{"type":"integer","format":"int64"},"testingAndVerification":{"type":"integer","format":"int64"},"messageNotes":{"type":"string"},"codeQualityNotes":{"type":"string"},"necessityNotes":{"type":"string"},"correctnessRiskNotes":{"type":"string"},"testingNotes":{"type":"string"},"summary":{"type":"string"},"strengths":{"type":"string"},"issues":{"type":"string"},"suggestedNextCommit":{"type":"string"},"riskLevel":{"type":"string","enum":["LOW","MED","HIGH"]},"analysisReason":{"type":"string"}}},"ApiResponseListUserRankResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/UserRankResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"UserRankResponse":{"type":"object","properties":{"rank":{"type":"integer","format":"int64"},"username":{"type":"string"},"profileUrl":{"type":"string"},"totalScore":{"type":"integer","format":"int64"}}},"ApiResponseListCommitRankResponse":{"type":"object","properties":{"status":{"type":"string"},"message":{"type":"string"},"data":{"type":"array","items":{"$ref":"#/components/schemas/CommitRankResponse"}},"timestamp":{"type":"string","format":"date-time"}}},"Commit":{"type":"object","properties":{"id":{"$ref":"#/components/schemas/CommitId"},"repository":{"$ref":"#/components/schemas/GithubRepository"},"author":{"$ref":"#/components/schemas/User"},"message":{"type":"string"},"diff":{"type":"string"},"beforeCommitId":{"type":"string"},"committedAt":{"type":"string","format":"date-time"},"analysisResult":{"type":"string"},"analysisCreatedAt":{"type":"string","format":"date-time"},"analysisModel":{"type":"string"},"analysisConfidence":{"type":"number","format":"double"},"analysisStatus":{"type":"string","enum":["PENDING","PROCESSING","COMPLETED","FAILED"]},"riskLevel":{"type":"string","enum":["LOW","MED","HIGH"]},"commitMessageQuality":{"type":"integer","format":"int64","maximum":100,"minimum":0},"codeQuality":{"type":"integer","format":"int64","maximum":100,"minimum":0},"changeAppropriateness":{"type":"integer","format":"int64","maximum":100,"minimum":0},"necessity":{"type":"integer","format":"int64","maximum":100,"minimum":0},"correctnessAndRisk":{"type":"integer","format":"int64","maximum":100,"minimum":0},"testingAndVerification":{"type":"integer","format":"int64","maximum":100,"minimum":0},"totalScore":{"type":"integer","format":"int64","maximum":100,"minimum":0},"analysisReason":{"type":"string"},"messageNotes":{"type":"string"},"codeQualityNotes":{"type":"string"},"scopeNotes":{"type":"string"},"necessityNotes":{"type":"string"},"correctnessRiskNotes":{"type":"string"},"testingNotes":{"type":"string"},"summary":{"type":"string"},"strengths":{"type":"string"},"issues":{"type":"string"},"suggestedNextCommit":{"type":"string"}}},"CommitId":{"type":"object","properties":{"commitSha":{"type":"string"},"repoId":{"type":"string"},"branchName":{"type":"string"}}},"CommitRankResponse":{"type":"object","properties":{"rank":{"type":"integer","format":"int64"},"commit":{"$ref":"#/components/schemas/Commit"}}},"GithubRepository":{"type":"object","properties":{"id":{"type":"string"},"reponame":{"type":"string"},"repoUrl":{"type":"string"},"description":{"type":"string"},"language":{"type":"string"},"size":{"type":"integer","format":"int64"},"stars":{"type":"integer","format":"int64"},"topics":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"updatedAt":{"type":"string","format":"date-time"},"pushedAt":{"type":"string","format":"date-time"},"owner":{"$ref":"#/components/schemas/User"},"branchNum":{"type":"integer","format":"int64"},"commitCount":{"type":"integer","format":"int64"},"score":{"type":"integer","format":"int64"},"syncStatus":{"type":"string"},"lastSyncAt":{"type":"string","format":"date-time"},"branchesEtag":{"type":"string"},"commitsEtag":{"type":"string"},"languages":{"type":"string"}}},"User":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"username":{"type":"string"},"email":{"type":"string"},"notifyEmail":{"type":"string"},"notifySprint":{"type":"boolean"},"notifyWeekly":{"type":"boolean"},"profileUrl":{"type":"string"},"location":{"type":"string"},"publicRepos":{"type":"integer","format":"int32"},"company":{"type":"string"},"githubId":{"type":"string"},"isGhost":{"type":"boolean"},"reposEtag":{"type":"string"},"commitCount":{"type":"integer","format":"int64"},"score":{"type":"integer","format":"int64"},"installationId":{"type":"string"},"createdAt":{"type":"string","format":"date-time"}}},"NotificationResponse":{"type":"object","properties":{"id":{"type":"integer","format":"int64"},"type":{"type":"string","enum":["ANALYSIS_COMPLETED","ANALYSIS_FAILED","TEAM_INVITE","SPRINT_ALERT"]},"message":{"type":"string"},"createdAt":{"type":"string","format":"date-time"},"read":{"type":"boolean"}}},"SseEmitter":{"type":"object","properties":{"timeout":{"type":"integer","format":"int64"}}}},"securitySchemes":{"bearerAuth":{"type":"http","name":"bearerAuth","scheme":"bearer","bearerFormat":"JWT"}}}}