@import './fonts.css';
@import './tailwind.css';
@import './theme.css';

/* Hide scrollbars but keep scroll functionality */
* {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}
